@media all and (min-width:1200px){
    
    .wrap{
        width: 100%;
        max-width: 1920px;
        margin: auto;
        position: relative;
    }

    header, section, footer{
        width: 100%;
        position: relative;
        float: left;
    }
    /* 공통영역 */

    header{
        height: 80px;
    }

    .inHeader{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo{
        width: 80px;
    }

    .logo img{
        width: 100%;
    }

    .inHeader ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inHeader ul li{
        padding: 10px 20px;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
    }

    .nav:hover a{
        color: #c53539;
    }
    /* header end */

    section{
        height: auto;
    }

    .container{
        position: relative;
        margin: 0 auto 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .con1{
        width: 100%;
        height: 500px;
        background-image: url('../img/bgImage.jpg');
        background-position: center;
        background-size: cover;
    }
    /* section1 end */

    .con2{
        width: 90%;
        height: 150px;
    }

    .cate{
        width: 130px;
        display: flex;
        flex-direction: column;
        /* 아래 방향 */
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #444;
        text-transform: uppercase;
    }

    .cate img{
        width: 60px;
        height: 60px;
    }

    .food{
        height: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        border-right: 1px solid #bbb;
        cursor: pointer;
    }

    .food h6{
        display: none;
        transition-duration: 0.3s;
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        color: #222;
    }

    .food img{
        width: 90px;
        transition-duration: 0.3s;
    }

    .food:hover img{
        filter: blur(3px);
        opacity: 0.3;
    }

    .food:hover h6{
        display: block;
        position: absolute;
    }

    .more{
        width: 40px;
        height: 100%;
        transition-duration: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #c53539;
        cursor: pointer;
    }

    .more p{
        font-size: 13px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        color: #eee;
    }

    .more:hover{
        width: 60px;
    }

    .cate2{
        height: 100%;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #444;
        text-transform: uppercase;

        border-right: 1px solid #bbb;
        cursor: pointer;
    }

    .cate2:nth-child(3){
        border: none;
    }

    .cate2 img{
        width: 60px;
        margin-right: 20px;
    }
    /* con2 end */

    .con3{
        width: 100%;
        height: 100px;
        background-color: #d4d0c3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .con3 p{
        font-size: 26px;
        font-weight: 700;
        color: #333;
    }

    .con3 span{
        color: #c53539;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    /* section end */
    
    footer{
        height: 100px;
        background-color: #c53539;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer p{
        font-size: 11px;
        color: rgb(209, 203, 203);
        line-height: 18px;
    }
    /* footer end */









}/*end*/